In [3]:
from filler import get_column_info
print(get_column_info('breeds'))

[('breedid', 'INTEGER'), ('name', 'TEXT'), ('description', 'TEXT')]

In [4]:
from filler import fill_one_row
breed = (3, "Рэгдолл", "Порода крупных полудлинношерстных домашник кошек с голубыми глазами")
fill_one_row('breeds', breed)

OperationalError: database is locked

In [7]:
import pandas as pd
import
from excel_reader import _df
_df().to_sql(“user”, con=con, if_exists=”append”, index=False)

,id,name,description
0,1,Абиссинская,NaN
1,2,Австралийский мист,NaN
2,3,Азиатская табби,NaN
3,4,Американская жесткошёрстная,NaN
4,5,Американская короткошерстная,"Кошки, выведенные для борьбы с грызунами. Имею..."
...,...,...,...
87,88,Эгейская,NaN
88,89,Экзотическая,Порода выведена как короткошерстный аналог пер...
89,90,Яванез (Яванская кошка),NaN
90,91,Японский бобтейл длинношёрстный,NaN
91,92,Японский бобтейл короткошёрстный,NaN