In [1]:
import sqlite3

In [18]:
connection = sqlite3.connect('cats.db')
cursor = connection.cursor()
cursor.execute("""CREATE TABLE IF NOT EXISTS catperson(
   personid INT PRIMARY KEY,
   name TEXT,
   breedid INT,
   birth TEXT);
""")
cursor.execute("""ALTER TABLE catperson
ADD COLUMN description TEXT NOT NULL;
""")
cursor.execute("""ALTER TABLE catperson
ADD COLUMN subbreed INT;
""")
connection.commit()

OperationalError: duplicate column name: description

In [15]:
cursor.execute("""CREATE TABLE IF NOT EXISTS breeds(
   breedid INT PRIMARY KEY,
   name TEXT,
   description TEXT);
""")
connection.commit()

In [6]:
cursor.execute("""CREATE TABLE IF NOT EXISTS subbreeds(
   subbreedid INT PRIMARY KEY,
   breedid INT
   name TEXT,
   description TEXT);
""")
connection.commit()

In [28]:
lulu = (2, "Лулу", 1, "январь 2017", "Наглый пожиратель с мордой, похожей на дно пластиковой бутылки", "NULL")
cursor.execute("INSERT INTO catperson VALUES(?, ?, ?, ?, ?, ?);", lulu)
# cursor.execute("""DELETE FROM catperson
# WHERE personid = 2""")
connection.commit()

In [32]:
breed = (2, "Шотландская", "Порода домашних кошек среднего размера с круглой головой")
cursor.execute("INSERT INTO breeds VALUES(?, ?, ?);", breed)
connection.commit()